.light-theme {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.170139) 17.01%,
    rgba(0, 0, 0, 0.28993) 35.24%,
    rgba(0, 0, 0, 0.50868) 99.97%,
    #000000 99.98%,
    rgba(0, 0, 0, 0.800347) 99.99%
  );
}

.dark-theme {
  background-color: #000;
  color: #d5bebe;
}

.theme-btn {
  margin: 20px;
  cursor: pointer;
  @media screen and (max-width: 1199px) {
    margin-top: 50px;
    cursor: pointer;
  }
}
