.backdrop {
  @include centredFlex;
  position: fixed;
  z-index: 1;
  animation: zoom 1.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000e1;
}

@keyframes zoom {
  from {
    transform: scale(0.3);
  }

  to {
    transform: scale(1);
  }
}
