.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000e1;
}

// .backdrop.top {
//   align-items: flex-start;
// }

// .backdrop.bottom {
//   align-items: flex-end;
// }
