.contact-form {
  width: 375px;

  @include desk {
    width: 550px;
    padding: 80px;
    border-radius: $second-border-radius;
    background-color: rgba(24, 28, 31, 1);
  }
  &__input {
    margin-top: 32px;
    width: 350px;
    height: 48px;
    padding: 16px;
    border: 1px solid $main-bg-color;
    border-radius: $second-border-radius;
    background-color: $main-bg-color;
    &::placeholder {
      font-size: 22px;
      font-family: Poppins;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.05em;
    }
  }
  &__textarea {
    margin-top: 32px;
    width: 350px;
    height: 120px;
    padding: 16px;
    border: 1px solid $main-bg-color;
    background-color: $main-bg-color;
    border-radius: 8px;
    resize: none;
    &::placeholder {
      font-size: 22px;
      font-family: 'Poppins';
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.05em;
    }
  }
  &__btn {
    width: 350px;
    height: 48px;
    margin-top: 37px;
    border: 1px solid $main-bg-color;
    border-radius: $second-border-radius;
    background-color: $main-color;
    font-size: 20px;
    line-height: 32px;
    color:$main-white-color;
    border: none;
  }
  &__heading {
    font-family: 'Abril Fatface';
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    color: $main-color;
  }
}

.contact-container {
  @include centredFlex;
  padding: 80px;
}

.thank-you-text {
  font-size: 30px;
  color: $main-white-color;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  color: $main-white-color;
  cursor: pointer;
}
