.google-maps-btn {
  position: absolute;
  left: 150px;
  top: 10px;
  width: 135px;
  line-height: 48px;
  font-size: 20px;
  transition: 1s;
  border-radius: $main-border-radius;
  background: $main-color;
  color: $main-white-color;
  @include desk {
    width: 195px;
    top: 350px;
    left: 100px;
    border-radius:  $main-border-radius;
    width: 135px;
  }
  &:hover {
    border-radius: 17px;
  }
}
