.google-maps-btn {
  position: absolute;
  left: 150px;
  top: 10px;
  width: 135px;
  line-height: 48px;
  font-size: 20px;
  transition: 1s;
  border-radius: 5px;
  background: $main-color;
  color: rgba(244, 242, 241, 1);
  @include desk {
    width: 195px;
    top: 350px;
    left: 60px;
    border-radius: 2px;
    width: 135px;
  }
  &:hover {
    border-radius: 17px;
  }
}
