.second-heading {
  font-family: Abril Fatface;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  text-align: left;
  color: rgba(86, 86, 86, 1);

  @include desk {
    margin-bottom: 40px;
    font-size: 48px;
  }
}
