.signup-btn {
  width: 135px;
  line-height: 48px;
  font-size: 20px;
  border-radius:  $main-border-radius;
  background-color: $main-color;
  color:$main-white-color;
  @include desk {
    width: 195px;
  }
}
