.abonements-list {
  display: flex;
  justify-content: center;
  gap: 7px;
  flex-wrap: wrap;

  @include desk {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
  }

  &__item:not(:last-child) {
    width: 160px;
    height: 257px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    transition: 3s;
    border-radius: 5px;
    background: $main-bg-color;
    @include desk {
      gap: 36px;
      width: 302px;
      height: 489px;
      padding: 53px 21px 188px;
    }
  }
  &__item:last-child {
    width: 330px;
    height: 90px;
    transition: 2s;
    border-radius: 5px;
    background-color: $main-bg-color;
    @include desk {
      display: flex;
      align-items: center;
      padding: 7px 36px 10px 25px;
      width: 628px;
      height: 65px;
    }
  }
  &__item:last-child p {
    margin-left: 10px;
  }

  &__item:last-child h3 {
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
  }
  &__item:last-child p {
    display: inline-block;
  }

  &__item:hover {
    background-color: rgba(244, 242, 241, 1);
  }
  &__item:hover h3,
  &__item:hover p {
    color: rgba(67, 72, 77, 1);
  }

  &__item-title {
    font-weight: 700;
    line-height: 38px;
    color: rgba(244, 242, 241, 1);

    @include desk {
      font-size: 32px;
      font-weight: 400;
      line-height: 48px;
    }
  }

  &__item:last-child button {
    display: grid;
    place-content: center;
    margin: 0 auto;
    height: 36px;
  }

  &__item-price {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: rgba(244, 242, 241, 1);

    @include desk {
      display: flex;
      justify-content: center;
      margin-right: 20px;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
    }
  }

  &__item-duration {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(244, 242, 241, 1);

    @include desk {
      display: flex;
      justify-content: center;
      margin-top: 36px;
      max-width: 211px;
      line-height: 40px;
      text-align: center;
    }
  }
}

.abonements-container {
  padding: 40px 16px;
  @include desk {
    padding: 27px 80px 61px;
  }
}
