.abonements-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;

  &__item-btn {
    width: 195px;
    line-height: 48px;
    cursor: pointer;
    font-family: Lato;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(250, 109, 6, 1);
    color: rgba(244, 242, 241, 1);
  }

  &__item:not(:last-child) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    transition: 3s;
    width: 302px;
    height: 489px;
    padding: 53px 21px 188px;
    border-radius: 5px;
    background: $main-bg-color;
  }
  &__item:last-child {
    display: flex;
    transition: 2s;
    padding: 7px 36px 10px 25px;
    width: 628px;
    height: 65px;
    border-radius: 5px;
    background-color: $main-bg-color;
  }

  &__item:hover {
    background-color: rgba(244, 242, 241, 1);
  }
  &__item:hover h3,
  &__item:hover p {
    color: rgba(67, 72, 77, 1);
  }

  &__item-title {
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    color: rgba(244, 242, 241, 1);
  }
  &__item-price {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: rgba(244, 242, 241, 1);
  }

  &__item-duration {
    display: flex;
    margin-top: 36px;
    max-width: 211px;
    justify-content: center;
    line-height: 40px;
    text-align: center;
    color: rgba(244, 242, 241, 1);
  }
}

.abonements-container {
  padding: 27px 80px 61px;
}
