.about-container {
  @include desk {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
  }
}

.container {
  @include desk {
    padding: 27px 80px 61px;
  }
}

.about-desc {
  @include desk {
    max-width: 640px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
  }
}
