.contacts-container {
  position: relative;
  padding: 12px 15px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(244, 242, 241, 1);
  @include desk {
    padding: 40px 80px 126px;
    background-color: $main-bg-color;
    font-size: 20px;
    line-height: 40px;
  }
}

.contacts__link {
  line-height: 40px;
  text-align: left;
  color: rgba(244, 242, 241, 1);
}

.address {
  font-style: normal;
  &-list__item {
    display: flex;
    gap: 10px;
  }
}

.schedule-desc {
  display: flex;
  &:first-child {
    gap: 70px;
    margin-left: 25px;
  }
}

.schedule-desc:nth-child(2) {
  gap: 170px;
  margin-left: 25px;
}

.schedule-des {
  margin-left: 25px;
  display: flex;
  gap: 160px;
}

.calendar-icon {
  position: absolute;
  left: 120px;
}

.saturday-time{
  @include desk {
    margin-left: 20px;
  }

}