.header {
  display: flex;
  align-items: center;
  gap: 51px;
  padding-bottom: 50px;
  @include desk {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-container {
  @include desk {
    padding: 40px 87px 40px 57px;
  }
}

.contacts-list {
  &__link {
    @include desk {
      margin-left: 10px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-align: center;
      color: $main-bg-color;
    }
  }
}

.wrap {
  @include desk {
    display: flex;
  }
}

.desktop-tel {
  display: inline-block;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 60px;
  right: 10px;
  &__link {
    color: rgba(67, 72, 77, 1);
  }

  @media screen and (min-width: 1199px) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 30px;
    right: 10px;
  }
}

.burger {
  position: absolute;
  top: -20px;
  right: 10px;
}
