.header {
  display: flex;
  align-items: center;
  gap: 51px;
  @include desk {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header-container {
  @include desk {
    padding: 40px 87px 40px 57px;
  }
}

.contacts-list {
  &__link {
    @include desk {
      margin-left: 10px;
      font-family: Poppins;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.05em;
      text-align: center;
      color: $main-bg-color;
    }
  }
}

.wrap {
  @include desk {
    display: flex;
  }
}

.desktop-tel {
  display: inline-block;
}
