.products-gallery {
  @include desk {
    display: grid;
    justify-content: center;
    margin: 50px;
    gap: 70px;
  }

  @include desk {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: center;
    margin: 50px;
  }

  &__item {
    width: 200px;
    @include desk {
      width: 412px;
      background-color: white;
      transition: 1s linear;

      border-radius: 5px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__card {
    @include desk {
      display: grid;
      place-content: center;
      height: 100px;
      padding-bottom: 10px;
      margin-top: 20px;
    }
  }
}

.buttons-list {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
  gap: 30px;
  @include desk {
    display: flex;
    gap: 10px;
  }
  &__btn {
    @include desk {
      width: 170px;
      height: 56px;
      border-radius: 5px;
      border: none;
      background-color: rgba(255, 131, 0, 1);
      font-family: Lato;
      font-size: 20px;
      line-height: 24px;
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
  }
}

.card {
  @include desk {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: rgba(255, 131, 0, 1);
  }
  &-btn {
    @include desk {
      width: 137px;
      height: 48px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      border: 2px solid rgba(255, 131, 0, 1);
      color: rgba(255, 131, 0, 1);
    }
  }
}
