.products-gallery {
  display: grid;
  justify-content: center;
  gap: 40px;

  @include desk {
    gap: 30px;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    margin: 50px;
  }

  &__item {
    width: 375px;
    transition: 1s linear;
    border-radius:  $main-border-radius;
    cursor: pointer;
    background-color: white;
    @include desk {
      width: 412px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__card {
    @include desk {
      display: grid;
      place-content: center;
      height: 100px;
      padding-bottom: 10px;
      margin-top: 20px;
    }
  }
}

.buttons-list {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  @include desk {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__btn {
    width: 150px;
    height: 56px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    background-color: $main-color;
    @include desk {
      width: 170px;
    }
  }
}

.card {
  @include centredFlex;
  gap: 120px;
  padding: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $main-color;
  @include desk {
    gap: 120px;
    padding: 8px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: $main-color;
  }
  &-btn {
    width: 137px;
    height: 48px;
    border-radius:  $main-border-radius;
    border: 2px solid $main-color;
    color: $main-color;
    @include desk {
      width: 137px;
      height: 48px;
      border-radius:  $main-border-radius;
      border: 2px solid $main-color;
      color: $main-color;
    }
  }
}
